$base-color: #ffffff;
$text-color-bright: #ffffff;
$text-color-dark-s: #c0c0c0;
$text-color-dark-ss: #868686;
$primary-color: #c83734;
$primary-color-dark-s: #182b3c;
$primary-color-dark-ss: #031a2c;
$primary-color-bright: #edecf1;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  background-color: $primary-color-bright;
}

.h1 {
  color: $text-color-bright;
  text-transform: uppercase;
}

.h2 {
  color: $text-color-dark-ss;
  margin-bottom: 1rem;
}

.h3 {
  color: $text-color-dark-ss;
  margin: 1rem 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.wrapper {
  font-size: 1.5rem;
  margin: 0 auto;
  min-width: 320px;
  // max-width: 1024px;
}

@media (min-width: 640px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto 80px auto 80px;
    grid-template-areas:
      'l l l h h h h h h h h h'
      'p p p w w w w w w w w w'
      'd d d s s s s s s s s s'
      'a a a m m m m m m m m m'
      'a a a f f f f f f f f f';
  }
}

.logo {
  grid-area: l;
}

.header {
  grid-area: h;
}

.preview {
  grid-area: p;
}

.burger-menu {
  grid-area: b;
}

.aside {
  grid-area: a;
}

.download-section {
  grid-area: d;
}

.slider-window {
  grid-area: w;
}

.slider {
  grid-area: s;
}

.main-info {
  grid-area: m;
}

.footer {
  grid-area: f;
}

.container {
  padding: 1rem;
}

@media (min-width: 640px) {
  .container {
    padding: 2rem;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
}

.logo__h1 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 2rem;
}

.header {
  background-color: $base-color;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.burger-menu {
  background-color: $base-color;
  border-left: solid 1px $text-color-dark-s;
}

.header-nav {
  margin: 2rem 0;
}

.header-nav__list {
  display: flex;
  gap: 2rem;
}

.header-nav-link {
  text-transform: uppercase;
  font-weight: 600;
  color: $text-color-dark-ss;
  &:hover {
    border-bottom: 3px solid $primary-color;
  }
}

.aside {
  background-color: $primary-color-dark-ss;
}

.nav {
  background-color: $base-color;
  border-left: solid 1px $text-color-dark-s;
  border-top: solid 1px $text-color-dark-s;
}

.preview {
  display: flex;
  align-items: center;
  background-color: $primary-color-dark-ss;
}

.preview-photo {
  display: none;
  width: 100%;
}

@media (min-width: 640px) {
  .preview-photo {
    display: block;
  }
}

.download-section {
  background-color: $primary-color-dark-s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-section__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $text-color-dark-s;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 2rem;

  &:hover {
    color: $text-color-bright;
  }
}

.contacts__title {
  color: $text-color-dark-ss;
  font-size: 1.4rem;
}

.contacts__text {
  color: $text-color-dark-s;
}

.slider-window {
  position: relative;
  overflow-x: hidden;
  display: flex;
}

.slider-window__img-container {
  width: 100%;
}

.slider-window__img {
  display: block;
  width: 100%;
}

.slider-window__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgba($color: $primary-color-dark-ss, $alpha: 0.5);
  transition: 1s;

  &:hover {
    transform: translate(100%);
  }
}

.slider-window__title {
  color: $text-color-bright;
}

.slider-window__description {
  font-size: 1.5rem;
  line-height: 2;
  color: $text-color-bright;
}

.slider {
  display: flex;
  overflow-x: hidden;
  height: 100px;
}

@media (min-width: 640px) {
  .slider {
    height: auto;
  }
}

.slider-img-container {
  min-width: 50%;
}

@media (min-width: 640px) {
  .slider-img-container {
    min-width: 20%;
  }
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-info {
  & > .section:nth-child(2n + 1) {
    background-color: $primary-color-bright;
  }

  & > .section:nth-child(2n) {
    background-color: $base-color;
  }
}

@media (min-width: 640px) {
  .main-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
  }
}

.footer {
  background-color: $primary-color;
  display: flex;
  align-items: center;
}

.footer__description {
  color: $text-color-bright;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
